@* @model IEnumerable<Thesis.Models.Entity.Product> *@
@model X.PagedList.IPagedList<Thesis.Models.Entity.Product>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@inject IHttpContextAccessor _httpContextAccessor
@inject AppDbContext _db

@{
	ViewData["Title"] = "Mua sắm";
	Layout = "~/Views/Shared/_Layout.cshtml";
	decimal minPrice = Convert.ToDecimal(_httpContextAccessor.HttpContext.Session.GetString("minPrice"));
	decimal maxPrice = Convert.ToDecimal(_httpContextAccessor.HttpContext.Session.GetString("maxPrice"));
}

<div class="hero-wrap hero-bread" style="background-image: url('/TemplateMain/images/bg_6.jpg');">
	  <div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
		  <div class="col-md-9 ftco-animate text-center">
			  <p class="breadcrumbs"><span class="mr-2"><a href="/">Trang chủ </a></span> <span>Mua sắm</span></p>
			<h1 class="mb-0 bread">Mua sắm</h1>
		  </div>
		</div>
	  </div>
	</div>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row">	
				<!--10/12 Bên phải-->
				<div class="col-md-8 col-lg-10 order-md-last">
					<div class="row">
						<!--Các sản phẩm-->
					@if (Model != null && Model.Any())
					{
						var i = (ViewBag.Page - 1) * ViewBag.PageSize + 1;
						foreach (var item in Model)
						{
							<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
								<div class="product d-flex flex-column">
									<a href="#" class="img-prod"><img class="img-fluid" src="@item.Image" alt="Colorlib Template">
										@if (item.PriceSale < item.Price && item.PriceSale != null)
										{
											decimal saleRate = Math.Round(Convert.ToDecimal(1-item.PriceSale / item.Price), 2) * 100;
											<span class="status">@saleRate.ToString("F0")% Off</span>
										}
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3">
										<div class="d-flex">
											<div class="cat">
												<span>@* @item.ProductCategoriesId *@</span>
											</div>
											<div class="rating">
												<p class="text-right mb-0">
													<a href="#"><span class="ion-ios-star-outline"></span></a>
													<a href="#"><span class="ion-ios-star-outline"></span></a>
													<a href="#"><span class="ion-ios-star-outline"></span></a>
													<a href="#"><span class="ion-ios-star-outline"></span></a>
													<a href="#"><span class="ion-ios-star-outline"></span></a>
												</p>
											</div>
										</div>
										<h3><a href="/chi-tiet-san-pham/@item.Alias-p@(item.Id)">@item.Title</a></h3>
										<div class="pricing">
										<p class="price"><span>@string.Format("{0:N0} VNĐ", item.Price)</span></p>
										</div>
										<p class="bottom-area d-flex px-3">
											<a href="#" class="add-to-cart text-center py-2 mr-1 btnAddToCart" data-id="@item.Id"><span>Thêm vào giỏ hàng <i class="ion-ios-add ml-1"></i></span></a>
											<a href="#" class="buy-now text-center py-2">Khám phá thêm<span><i class="ion-ios-cart ml-1"></i></span></a>
										</p>
									</div>
								</div>
							</div>
						}
					}
					</div>
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
							<a class="page-link" href="@Url.Action("GetProductsByPriceRangeByProductCategories", new { page = 1, minPrice = minPrice, maxPrice = maxPrice })" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						@for (var i = 1; i <= Model.PageCount; i++)
						{
								<li class="page-item @(Model.PageNumber == i ? "active" : "")">
								<a class="page-link" href="@Url.Action("GetProductsByPriceRangeByProductCategories", new { page = i, minPrice =minPrice, maxPrice = maxPrice })">@i</a>
								</li>
						}
							<li class="page-item @(Model.IsLastPage ? "disabled" : "")">
							<a class="page-link" href="@Url.Action("GetProductsByPriceRangeByProductCategories", new { page = Model.PageCount, minPrice =minPrice, maxPrice = maxPrice })" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<!--Kết thúc 10/12 bên phải-->
				<div class="col-md-4 col-lg-2">
					<div class="sidebar">
						<div class="sidebar-box-2">
							<h2 class="heading">Danh mục sản phẩm</h2>
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								@Html.Partial("~/Views/Menu/MenuLeft.cshtml")
								</div>
							</div>
							</div>
							<div class="sidebar-box-2">
								<h2 class="heading">Khoảng giá</h2>
								<form asp-controller="Product" asp-action="GetProductsByPriceRangeByProductCategories" method="get">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="guests">Từ:</label>
												<div class="form-field">
													<i class="icon icon-arrow-down3"></i>
													<select name="minPrice" id="minPrice" class="form-control">
													<option value="50000">50.000</option>
													<option value="100000">100.000</option>
													<option value="150000">150.000</option>
													<option value="500000">500.000</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="guests">Đến:</label>
												<div class="form-field">
													<i class="icon icon-arrow-down3"></i>
													<select name="maxPrice" id="maxPrice" class="form-control">
													<option value="800000">800.000</option>
													<option value="900000">900.000</option>
													<option value="1000000">1.000.000</option>
													<option value="2000000">2.000.000</option>
													</select>
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary py-2 px-4">Lọc</button>
									</div>
								</form>
							</div>
					</div>
			</div>
		</div>
	</div>
	</section>

@section Scripts{
		<script src="~/js/jsShopping.js"></script>
}