@model Thesis.Models.Entity.Categories
@{
    ViewData["Title"] = "Thêm danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Thêm mới</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>                          
                        <li class="breadcrumb-item"><a href="/Admin/Categories">Quản lý danh mục</a></li>
                        <li class="breadcrumb-item"><a href="#">Thêm mới</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    
    @using (Html.BeginForm("AddCategories", "Categories", FormMethod.Post))
	{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)	
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Tên danh mục</label>
                    @Html.TextBoxFor(x => x.Title, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Title, null,  new{@class="text-danger"})                               
                </div>
                <div class="form-group col-md-4">
                    <label for="inputAddress">Alias</label>
                    @Html.TextBoxFor(x => x.Alias, new {@class = "form-control"})
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Thứ tự</label>
                    @Html.TextBoxFor(x => x.Position, new {@class = "form-control", @value = "1"})
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Mô tả</label>
                @Html.TextAreaFor(x => x.Description, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label for="inputAddress">Seo Title</label>
                @Html.TextAreaFor(x => x.SeoTitle, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label for="inputAddress2">Seo Description</label>
                @Html.TextAreaFor(x => x.SeoDescription, new {@class = "form-control"})                   
            </div>
            <div class="form-group">
                <label for="inputAddress2">Seo Keyword</label>
                @Html.TextAreaFor(x => x.SeoKeywords, new {@class = "form-control"})
            </div>
            <a href="/Admin/Categories" class="btn btn-link m-2">Quay lại</a>
            <button type="submit" class="btn btn-primary">Thêm mới</button>
	}
	
    <!-- [ Main Content ] end -->
</div>

